# Copiar a docker/.env y ajustar segun se necesite.
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=iotparking
POSTGRES_PORT=6543

BACKEND_PORT=4000
JWT_SECRET=dev-secret-change-me
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
RESERVATION_DURATION_MINUTES=1
CORS_ORIGIN=http://localhost:5173
TOTAL_CAJONES=10
MAX_RESERVAS_ACTIVAS=5

FRONTEND_PORT=5173
VITE_API_URL=http://localhost:4000
